html, body {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Hiragino Kaku Gothic Pro", Meiryo;
  text-rendering: optimizeLegibility;
  background: #1c4961;
  color: white;
}

.mtl { margin-top: 20px; }
.mbm { margin-bottom: 10px; }
.mlm { margin-left: 10px; }
.inline-block { display: inline-block; }
.pull-right { float: right; }

.sidebar {
  float: left;
  padding: 0 40px;
  text-align: center;
}
.header {
  font-size: 3em;
  line-height: 1.2em;
}
.subheader {
  font-size: 1.2em;
  color: #fffba7;
}
.controls {
  width: 152px;
  margin-bottom: 10px;
}
button {
  border: 1px solid #44c0d2;
  border-radius: 4px;
  background: #215fa5;
  color: white;
  font-size: 14px;
  padding: 3px 7px;
  cursor: pointer;
}
button:hover {
  background: #2669b5;
}
button.full {
  display: block;
  width: 100%;
}

.game-container {
  text-align: center;
  margin: 40px;
  padding-bottom: 40px;
}
.game-board {
  display: table;
  margin: auto;
  background-color: #1090ac;
  border: 2px solid #3988b0;
  border-radius: 4px;
}
.game-board.complete {
  border: 2px solid #55b039;
  background-color: #50947b;
}
.game-row {
  display: table-row;
}
.game-cell {
  display: table-cell;
}
.game-row.border-top > .game-cell {
  border-top: 1px solid #005b68;
}
.game-row.border-bottom > .game-cell {
  border-bottom: 1px solid #005b68;
}
.game-cell.border-left {
  border-left: 1px solid #005b68;
}
.game-cell.border-right {
  border-right: 1px solid #005b68;
}
.game-cell-inner {
  padding: 10px 4px;
  width: 40px;
  background-color: #0f7aa9;
  border: 1px solid #1090ac;
  border-radius: 4px;
  color: white;
  text-align: center;
  font-size: 1.2em;
  font-weight: bold;
}
.game-board.complete .game-cell-inner {
  border: 1px solid #50947b;
}
.middle .game-cell-inner {
  background-color: #0970a0;
}
.center > .game-cell-inner {
  background-color: #0970a0;
}
.middle > .center > .game-cell-inner {
  background-color: #0f7aa9;
}
.game-cell-inner:hover {
  background-color: #00638b !important;
}
.game-cell.static > .game-cell-inner {
  /*color: #aff6ff;*/
  color: #fffba7;
  cursor: default;
}
.game-cell.error > .game-cell-inner {
  color: #de4a38;
}

.game-cell-edit-box {
  width: 32px;
  border: 0;
  padding: 0;
  text-align: center;
  font-size: 1.2em;
  background: none;
  outline: none;
  color: white;
}

.win-text {
  color: #7cff55;
  font-weight: bold;
}
